@font-face {font-family: "FiraSans-Regular"; src: url(../fonts/FiraSans-Regular.ttf);}
@font-face {font-family: "FiraSans-Medium"; src: url(../fonts/FiraSans-Medium.ttf);}
@font-face {font-family: "FiraSans-Bold"; src: url(../fonts/FiraSans-Bold.ttf);}
@font-face {font-family: "FiraSans-Light"; src: url(../fonts/FiraSans-Light.ttf);}

:root {
    /* colors  */
    --yellow: #FECD00;
    --red: #F44848;
    --grey: #9D9D9D;
    --med-grey: #D4D4D4;
    --med-grey-opacity: #D4D4D460;
    --light-grey: #EEEEEE;
    --white: #FFFFFF;
    --green: #5AD866;
    --black: #333333;
    --light-black:#585858;
    --black-opacity: #33333360;
    --bg-color: #F5F5F5;
    /* font size  */
    --title-h1: 36px;
    --title-h2: 24px;
    --title-h3: 18px;
    --text-p: 14px;
    --label: 16px;
    --main-btn: 14px;
    --input: 14px;
    --link: 12px;
    --span: 12px;
    /* font family  */
    --fira-regular: "FiraSans-Regular";
    --fira-medium: "FiraSans-Medium";
    --fira-light: "FiraSans-Light";
    --fira-bold: "FiraSans-Bold";
    /* Espaçamentos  */
    --popup-padding: 40px 60px 120px 40px;
    --popup-detail-padding:80px 80px 120px 80px;
    --main-btn-padding: 20px;
    --input-padding: 20px 15px;
    --input-padding-small: 15px;
    --dashboard: 100px 20px 80px 20px;
    /* containers  */
    --popup: 415px; 
    --popup-calc: 536px;
    --popup-detail: 830px;
    --side-menu: 307px;
    --notification: 800px;
    /* outros  */
    --btn-shadow: 2px 15px 28px -5px #00000020;
    --transition-slow:all 0.5s;
    --transition-fast:all 0.3s;
    --border-radius-small: 5px;
}
body {
    font-family: var(--fira-light);
    background-color: var(--bg-color);
    margin: 0;
    position: relative;
}
body * {
    box-sizing: border-box;
    transition: var(--transition-fast);
    font-weight: normal;
}
h1, h2, h3, a, label, p {
    color: var(--black);
}
h1 {
    font-size: var(--title-h1);
}
h2 {
    font-size: var(--title-h2);
}
h3 {
    font-size: var(--title-h3);
}
h1, h2, h3 {
    line-height: 1.5em;
    margin: 0;
    font-family: var(--fira-medium);
    color: var(--black);
}
p {
   color: var(--light-black); 
   line-height: 1.5em;
   margin: 0;
   font-family: var(--fira-light);
   font-size: var(--text-p);
}
a {
    display: block;
}
span {
    font-size: var(--span);
    color: var(--grey);
    margin: 0;
    line-height: 1em;
}
label {
    font-size: var(--label);
    line-height: 1em;
    display: block;
    font-family: var(--fira-medium);
    margin-bottom: 10px;
}
input, textarea, select {
    padding: var(--input-padding);
    font-size: var(--input);
    background-color: transparent;
    border-radius: var(--border-radius-small);
    display: block;
    color: var(--light-black);
    border: 1px solid var(--med-grey);
    width: 100%;
    outline: none;
    font-family: var(--fira-light);
    cursor: pointer;
}
input:focus, textarea:focus, select:focus {
    border-color: var(--grey);
}
input[type="checkbox"] {
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: contain;
    border: 1px solid var(--med-grey);
    background-color: transparent;
    left: 0px;
    top: 0;
    margin: 0;
    border-radius: var(--border-radius-small);
    appearance: none;
    padding: 0;
    cursor: pointer;
}
input[type="checkbox"]:checked {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 1px solid var(--black);
    background-image: url('../images/checked-black.svg');
}
button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent
}
table {
    border-collapse: collapse;
    width: 100%;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: var(--med-grey);
}
::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--yellow);
}
.input-wrap {
    position: relative;
}
.input-wrap .eye-pass {
    position: absolute;
    width: 18px;
    height: 12px;
    background-image: url('../images/eye-pass-open.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    right: 15px;
    top: calc(50% + 7px);
    cursor: pointer;
}
.input-wrap .eye-pass.show {
    width: 21px;
    height: 15px;
    background-image: url('../images/eye-pass-closed.svg');
}
.input-wrap.pass-first .eye-pass {
    top: 33%;
}
.input-wrap.pass-first .eye-pass.show {
    top: 31%;
}
.input-wrap .character-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.input-wrap .character-counter span {
    color: var(--black);
}
.main-btn {
    background-color: var(--yellow);
    padding: var(--main-btn-padding);
    font-size: var(--main-btn);
    width: auto;
    border-radius: var(--border-radius-small);
    text-align: center;
    box-shadow: var(--btn-shadow);
    font-family: var(--fira-medium);
    outline: none;
    border: none;
    line-height: 1em;
    color: var(--black);
}
.main-btn.grey-btn {
    background-color: var(--med-grey);
    box-shadow: none;
}
.main-btn.grey-btn:hover {
    background-color: var(--grey);
    color: var(--black);
}
.main-btn.grey-btn:hover p {
    color: var(--black);
}
a.main-btn {
    text-decoration: none;
    display: block;
}
.main-btn p {
    font-size: var(--main-btn);
    font-family: var(--fira-medium);
    line-height: 1em;
    color: var(--black);
}
.main-btn:hover p {
    color: var(--white);
}
.main-btn:hover {
    background-color: var(--black);
    color: var(--white);
    box-shadow: none;
}
.main-btn:disabled {
    opacity: 20%;
    pointer-events: none;
}
.main-link {
    color: var(--black);
    font-family: var(--fira-medium);
    font-size: var(--text-p);
}
.main-link:hover {
    text-decoration: none;
}
button.main-link {
    text-decoration: underline;
    padding: 0;
}
.small-btn {
    width: 42px;
    height: 42px;
    border-radius: var(--border-radius-small);
    background-color: var(--light-grey);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    background-size: 18px;
}
.small-btn:hover {
    background-color: var(--black);
}
.switch-btn {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px; 
    outline: none;
    border: none;
    background-color: transparent;
    transition: var(--transition-fast);
}
.switch-btn span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--med-grey);
    border-radius: 34px;
    transition: var(--transition-fast);
}
.switch-btn span::before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: var(--white);
    border-radius: 50%;
    transition: var(--transition-fast);
}
.switch-btn:hover span {
    background-color: var(--yellow);
}
.round-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--med-grey-opacity);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    background-size: 10px;
}
.round-btn:hover {
    background-color: var(--grey);
}
.dark-mode .switch-btn span::before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
.tooltip-text-wrapper {
    display: flex;
    align-items: center;
}
.tooltip-text-wrapper .tooltip {
    margin-left: 5px;
    margin-top: -1px;
}
.tooltip {
    position: relative;
    display: inline-block;
    background-image: url('../images/tooltip-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 12px;
    cursor: pointer;
}
.tooltip:hover {
    background-image: url('../images/tooltip-black.svg');
}
.tooltip .tooltip-text {
    visibility: hidden;
    width: 254px;
    background-color: var(--med-grey);
    color: var(--black);
    font-family: var(--fira-light);
    text-align: left;
    border-radius: var(--border-radius-small);
    padding: 16px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    overflow: hidden;
    text-decoration: none !important;
}
.tooltip.right .tooltip-text {
    top: -6px;
    left: 30px;
}
.tooltip.left .tooltip-text {
    top: -6px;
    right: 30px;
}
.tooltip.red .tooltip-text {
    background-color: var(--red);
    color: var(--white);
}
.tooltip .tooltip-text span {
    font-family: var(--fira-light);
    margin-top: 15px;
    display: block;
    color: inherit;
}
.tooltip:hover .tooltip-text,
.tooltip:hover .arrow {
    visibility: visible;
    opacity: 100%;
    overflow: visible;
}
.tooltip .arrow {
	display: block;
	position: absolute;
	top: 5px;
	background-color: var(--med-grey);
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}
.tooltip.right .arrow {
    left: -4px;
}
.tooltip.left .arrow {
    right: -4px;
}
.tooltip.red .arrow {
    background-color: var(--red);
}
.tooltip .arrow:before,
.tooltip .arrow:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.tooltip .arrow,
.tooltip .arrow:before,
.tooltip .arrow:after {
	width: 9px;
    height: 9px;
}
.tooltip.right .arrow,
.tooltip.right .arrow:before,
.tooltip.right .arrow:after {
    border-top-right-radius: 5px;
}
.tooltip.left .arrow,
.tooltip.left .arrow:before,
.tooltip.left .arrow:after {
    border-top-left-radius: 5px;
}
.tooltip.right .arrow {
	transform: rotate(-30deg) skewX(-30deg) scale(1,.866);
}
.tooltip.right .arrow:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.tooltip.right .arrow:after {
  transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}
.tooltip.left .arrow {
    transform: rotate(30deg) skewX(30deg) scale(1,.866);
}
.tooltip.left .arrow:before {
  transform: rotate(135deg) skewX(45deg) scale(1.414,.707) translate(0,-50%);
}
.tooltip.left .arrow:after {
  transform: rotate(-135deg) skewY(45deg) scale(.707,1.414) translate(-50%);
}
.popup {
    padding: var(--popup-padding);
    width: var(--popup);
    background-color: var(--white);
    min-height: 100vh;
    border-radius: 0 20px 20px 0;
}
.popup h1 {
    color: var(--black);
    line-height: 1.5em;
}
.popup p {
    line-height: 1.5em;
    margin-bottom: 20px;
}
.popup p:last-of-type {
    margin-bottom: 0;
}
.popup a {
    font-size: var(--link);
    color: var(--black);
}
.popup a.main-btn {
    font-size: var(--main-btn);
}
.popup a.main-link {
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--fira-medium);
}
.popup .title-wrap {
    text-align: left;
    margin-bottom: 40px;
    margin-top: 95px;
}
.popup .title-wrap h1 {
    margin-bottom: 15px;
}
.popup .form-password {
    margin-bottom: 30px;
}
.popup .input-wrap {
    margin-bottom: 30px;
}
.popup .input-wrap:last-of-type {
    margin-bottom: 0;
}
.popup .main-link.forgot-pass {
    text-align: left;
    text-transform: initial;
    margin-top: 10px;
}
.popup .remember-login {
    display: flex;
    align-items: center;
    margin: 20px 0;
    position: relative;
}
.popup .remember-login p {
    color: var(--black);
    padding-left: 30px;
}
.popup .form-password .pass-strength {
    margin-top: 10px;
}
.popup .form-password .pass-strength .pass-status {
    display: flex;
    align-items: center;
}
.popup .form-password .pass-strength .pass-status p {
    font-size: 12px;
}
.popup .form-password .pass-strength .pass-status.checked p {
    color: var(--green);
}
.popup .form-password .pass-strength .pass-status div {
    width: 12px;
    height: 12px;
    margin-right: 10px;
    background-image: url('../images/check-pass.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.popup .form-password .pass-strength .pass-status.checked div {
    background-image: url('../images/check-pass-green.svg');
}

.notifications {
    position: fixed;
    bottom: -1000px;
    width: 100%;
    display: block;
    z-index: 10;
}
.notifications.show {
    bottom: 0;
}
/* .notifications .notifications-wrap {
    margin: 0 auto;
} */
.notifications .notifications-wrap .message {
    width: var(--notification);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    border-top: 1px solid var(--black-opacity);
}
.notifications .notifications-wrap .message:first-child {
    border-radius: 5px 5px 0 0;
    border-top: none;
}
.notifications .notifications-wrap .message.success {
    background-color: var(--green);
}
.notifications .notifications-wrap .message.error {
    background-color: var(--red);
}
.notifications .icon {
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 10px;
}
.notifications .message.success .icon {
    background-image: url('../images/icon-success.svg');
}
.notifications .message.error .icon {
    background-image: url('../images/icon-error.svg');
}
.notifications .message p {
    font-size: 16px;
    line-height: 1em;
    color: var(--black);
}
.notifications .message.error p {
    color: var(--white);
}
.main-page {
    display: flex;
}
.side-menu {
    width: var(--side-menu);
    /* width: 20%; */
    background-color: var(--white);
    height: 100vh;
    border-radius: 0 5px 5px 0;
    padding: 20px;
    position: relative;
}
.side-menu p {
    font-size: var(--text-p);
}
.menu-closed .side-menu .logo,
.popup .logo {
    width: 100%;
}
.side-menu .logo div,
.popup .logo div {
    background-image: url('../images/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 161px;
    height: 33px;
}
.menu-closed .side-menu .logo div {
    background-image: url('../images/logo-small.svg');
    width: 34px;
    height: 33px;
    margin: auto;
}
.menu-closed .side-menu {
    width: fit-content;
}
.side-menu .nav-menu {
    margin-top: 100px;
}
.side-menu .nav-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.side-menu .nav-menu li {
    border-radius: var(--border-radius-small);
    width: 100%;
    display: block;
    margin-bottom: 10px;
    background-color: transparent;
}
.side-menu .nav-menu li:hover,
.side-menu .nav-menu li.active:hover {
    background-color: var(--yellow);
}
.side-menu .nav-menu li:last-child {
    margin-bottom: 0;
}
.side-menu .nav-menu li.active {
    background-color: var(--black);
}
.side-menu .nav-menu li a {
    padding: 12px;
    border-radius: var(--border-radius-small);
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.side-menu .nav-menu li a div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    margin-right: 15px;
}
.menu-closed .side-menu .nav-menu li a div {
    margin-right: 0;
}
.side-menu .nav-menu li.dash a div {
    background-image: url('../images/icon-dash.svg');
}
.side-menu .nav-menu li.orders a div {
    background-image: url('../images/icon-orders.svg');
}
.side-menu .nav-menu li.caçadas a div {
    background-image: url('../images/icon-hunts.svg');
}
.side-menu .nav-menu li.promos a div {
    background-image: url('../images/promos-icon.svg');
}
.side-menu .nav-menu li.active.dash a div {
    background-image: url('../images/icon-dash-white.svg');
}
.side-menu .nav-menu li.active.orders a div {
    background-image: url('../images/icon-orders-white.svg');
}
.side-menu .nav-menu li.active.caçadas a div {
    background-image: url('../images/icon-hunts-white.svg');
}
.side-menu .nav-menu li.active.promos a div {
    background-image: url('../images/promos-white.svg');
}
.side-menu .nav-menu li.active.dash:hover a div,
.side-menu .nav-menu li.dash:hover a div {
    background-image: url('../images/icon-dash-black.svg');
}
.side-menu .nav-menu li.active.orders:hover a div,
.side-menu .nav-menu li.orders:hover a div {
    background-image: url('../images/icon-orders-black.svg');
}
.side-menu .nav-menu li.active.caçadas:hover a div,
.side-menu .nav-menu li.caçadas:hover a div {
    background-image: url('../images/icon-hunts-black.svg');
}
.side-menu .nav-menu li.active.promos:hover a div,
.side-menu .nav-menu li.promos:hover a div {
    background-image: url('../images/promos-black.svg');
}
.side-menu .nav-menu li a p {
    color: var(--black-opacity);
}
.side-menu .nav-menu li:hover a p,
.side-menu .nav-menu li.active:hover a p {
    color: var(--black);
}
.menu-closed .side-menu .nav-menu li a p {
    display: none;
}
.side-menu .nav-menu li.active a p {
    color: var(--white);
}
.side-menu .hide-menu {
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.side-menu .hide-menu .small-btn {
    background-image: url('../images/arrow-close.svg');
    background-size: 10px 18px;
    margin-right: 15px;
}
.side-menu .hide-menu .small-btn:hover {
    background-image: url('../images/arrow-hide-white.svg');
}
.menu-closed .side-menu .hide-menu .small-btn {
    background-image: url('../images/arrow-open.svg');
}
.menu-closed .side-menu .hide-menu .small-btn:hover {
    background-image: url('../images/arrow-open-white.svg');
}
.menu-closed .side-menu .hide-menu p {
    display: none;
}
.content {
    width: calc(100% - 307px);
    position: relative;
}
.menu-closed .content {
    width: 100%;
}
.user-header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}
.user-header p{
    font-size: var(--text-p);
}
.content p {
    color: var(--black);
}
.user-header .user-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.user-header .user {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.user-header .user a {
    width: 42px;
    height: 42px;
    background-color: var(--white);
    border-radius: var(--border-radius-small);
    background-image: url('../images/user-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
    text-decoration: none;
    margin-left: 15px;
}
.user-header .user a:hover {
    background-image: url('../images/user-icon-white.svg');
    background-color: var(--black);
}
.user-header .logout {
    background-color: var(--white);
    border-radius: var(--border-radius-small);
    padding: 12px 15px;
    height: 42px;
}
.user-header .logout:hover {
    background-color: var(--black);
}
.user-header .logout a {
    display: block;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.user-header .logout a div {
    width: 18px;
    height: 18px;
    background-image: url('../images/logout-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 15px;
    margin-top: -1px;
}
.user-header .logout:hover a div {
    background-image: url('../images/logout-icon-white.svg');
}
.user-header .logout:hover a p {
    color: var(--white);
}
.admin .user-header {
    justify-content: space-between;
}
.user-header .view-promo {
    display: none;
}
.admin .user-header .view-promo.active {
    display: flex;
    align-items: center;
}
.admin .user-header .new-promo .main-btn {
    margin-right: 15px;
    background-color: var(--white);
}
.admin .user-header .new-promo .main-btn:hover {
    background-color: var(--black);
    color: var(--white);
}
.admin .user-header .new-promo .main-btn div {
    background-image: url('../images/icon-more.svg');
}
.admin .user-header .new-promo .main-btn:hover div {
    background-image: url('../images/icon-more-white.svg');
}
.admin .user-header .view-promo p {
    max-width: 150px;
}
.admin .user-header .current-promo .extra-promo {
    background-image: url('../images/ticket-black.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 125px;
    height: 43px;
    margin-right: 10px;
}
.admin .user-header .current-promo .extra-promo .value-wrap {
    padding: 7px 10px;
}
.admin .user-header .current-promo .extra-promo .value-wrap p {
    font-size: 12px;
    color: var(--white);
}
.admin .user-header .current-promo .extra-promo .value-wrap span {
    font-family: var(--fira-medium);
    font-size: 8px;
    color: var(--white);
    display: block;
    margin-bottom: 5px;
}
.admin .user-header .current-promo .main-link {
    display: inline-block;
}
.dash-content .dash-tables {
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.table-main h2,
.dash-table h2 {
    margin-bottom: 30px;
    font-family: var(--fira-regular);
}
.dash-content .dash-tables .dash-table {
    padding: 20px;
    padding-left: 0;
    width: calc(100% / 2);
}
.dash-content .dash-tables .dash-table:first-child {
    padding: 20px;
}
.dash-content .dash-tables .table-wrap {
    background-color: var(--white);
    border-radius: var(--border-radius-small);
    padding: 20px;
    box-shadow: var(--btn-shadow);
}
.dash-content .table-wrap p.sub-title {
    font-size: 16px;
}
.dash-content .dash-tables .table-wrap table {
    margin-bottom: 40px;
}
.dash-content .table-wrap table td {
    border-bottom: 1px solid var(--med-grey);
    padding: 20px 0;
}
.dash-content .table-wrap table tr:last-of-type td {
    border: none;
}
.content  table td .status-wrap {
    width: fit-content;
    float: left;
}
.status {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 10px;
}
.dash-content .table-wrap table td.date-time {
    text-align: right;
    width: 114px;
}
.dash-content .table-wrap table td.date-time p:first-child {
    float: left;
}
.content table td .requested .status,
.popup-detail .status-wrap.requested .status,
.popup-detail .status-wrap.pending .status,
.content table td .pending .status {
    background-color: var(--yellow);
}
.content table td .onroute .status,
.popup-detail .status-wrap.onroute .status,
.popup-detail .status-wrap.active .status,
.content table td .approved .status,
.content table td .active .status {
    background-color: var(--green);
}
.content table td .sketch .status,
.popup-detail .status-wrap.sketch .status,
.popup-detail .status-wrap.inactive .status,
.content table td .inactive .status {
    background-color: var(--grey);
}
.content table td .finished .status,
.popup-detail .status-wrap.finished .status,
.popup-detail .status-wrap.blocked .status,
.content table td .blocked .status {
    background-color: var(--black);
}
.dash-content .dash-tables .buttons-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dash-content .dash-tables .main-btn,
.dash-content .dash-tables .grey-btn {
    width: calc(100% / 2 - 10px);
}
.content .main-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .main-btn div {
    width: 12px;
    height: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 5px;
}
.search .main-btn div,
.content .main-btn.upload-note div {
    background-image: url('../images/icon-more.svg');
}
.search .main-btn:hover div,
.content .main-btn.upload-note:hover div {
    background-image: url('../images/icon-more-white.svg');
}
.balance-discount {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.balance-discount .bd-block {
    width: calc(100% / 2 - 10px);
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.balance-discount .bd-block.balance {
    border-bottom: 2px solid var(--green);
}
.balance-discount .bd-block.discount {
    border-bottom: 2px solid var(--black);
}
.balance-discount .bd-block p {
    font-size: 24px;
    font-family: var(--fira-medium);
}
.balance-discount .bd-block.balance p {
    color: var(--green);
}
p.less {
    color: var(--red);
}
p.added {
    color: var(--green);
}
.dash-content .dash-tables .dash-activities {
    width: 24%;
}
.dash-content .dash-activities .activity {
    margin-bottom: 20px;
}
.dash-content .dash-activities .activity a {
    display: inline-block;
} 
.dash-content .dash-activities .activity p {
    margin-bottom: 15px;
    font-size: 12px;
}
.dash-content .dash-activities .activity .date-time {
    padding-bottom: 5px;
    border-bottom: 2px solid var(--med-grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.search .search-input {
    width: 70%;
}
.hunts.admin .search .search-input {
    width: 100%;
}
.search .search-input input {
    background-image: url('../images/search-icon.svg');
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 20px;
    padding: 15px 15px 15px 50px;
}
.table-main.table-list {
    padding: 20px 20px 10px 20px;
}
.search .main-btn {
    padding: 17px var(--main-btn-padding);
    width: 160px;
}
table.table-separate {
    border-collapse: separate;
    border-spacing: 0px 10px;
}
.table-main.table-list table th {
    position: relative;
    text-align: left;
    padding: 0 0px 10px 20px;
}
.table-main.table-list table input[type="checkbox"] {
    left: 20px;
}
.table-main.table-list table td input[type="checkbox"] {
    top: 27px;
}
.table-main.table-list table th p {
    width: fit-content;
    float: left;
    line-height: 1em;
    margin-right: 5px;
    font-size: 16px;
}
table th .sort-wrap button {
    width: 10px;
    height: 6px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
table th .sort-wrap button.recent {
    background-image: url('../images/arrow-sort-up.svg');
    top: 0;
}
table th .sort-wrap button.latest {
    background-image: url('../images/arrow-sort-down.svg');
    bottom: 10px;
}
.table-main.table-list table.table-separate tr:last-child {
    box-shadow: var(--btn-shadow);
}
.table-main.table-list table td {
    position: relative;
    padding: 20px;
    background-color: var(--white);
}
.table-main.table-list table.table-separate tr td:first-child {
    border-radius: 5px 0px 0px 5px;
}
.table-main.table-list table.table-separate tr td:last-child {
    border-radius: 0px 5px 5px 0px;
}
.table-main.table-list table td p {
    line-height: 1em;
}
.table-main.table-list table td span {
    font-size: 14px;
}
.listing .table-list td .status-wrap,
.popup-detail .status-wrap {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    border-radius: 20px;
}
.listing .table-list td .status-wrap span,
.popup-detail .status-wrap span {
    font-size: var(--span);
    font-family: var(--fira-regular);
}
.listing .table-list td .status,
.popup-detail .status-wrap .status {
    float: left;
    width: 12px;
    height: 12px;
}
.listing .table-list td .status-wrap.requested,
.listing .table-list td .status-wrap.pending,
.popup-detail .status-wrap.requested,
.popup-detail .status-wrap.pending {
    background-color: #FFDD1F30;
}
.listing .table-list td .status-wrap.finished,
.listing .table-list td .status-wrap.blocked,
.popup-detail .status-wrap.finished,
.popup-detail .status-wrap.blocked {
    background-color: #B2B2B2;
}
.listing .table-list td .status-wrap.sketch,
.listing .table-list td .status-wrap.inactive,
.popup-detail .status-wrap.sketch,
.popup-detail .status-wrap.inactive {
    background-color: #F2F2F2;
}
.listing .table-list td .status-wrap.onroute,
.listing .table-list td .status-wrap.approved,
.listing .table-list td .status-wrap.active,
.popup-detail .status-wrap.onroute,
.popup-detail .status-wrap.active {
    background-color: #5AD86630;
}
.listing .table-list td .status-wrap.requested span,
.listing .table-list td .status-wrap.pending span,
.popup-detail .status-wrap.requested span,
.popup-detail .status-wrap.pending span {
    color: #C6A108;
}
.listing .table-list td .status-wrap.finished span,
.listing .table-list td .status-wrap.blocked span,
.popup-detail .status-wrap.finished span,
.popup-detail .status-wrap.blocked span {
    color: var(--black);
}
.listing .table-list td .status-wrap.sketch span,
.listing .table-list td .status-wrap.inactive span,
.popup-detail .status-wrap.sketch span,
.popup-detail .status-wrap.inactive span {
    color: #9D9D9D;
}
.listing .table-list td .status-wrap.onroute span,
.listing .table-list td .status-wrap.active span,
.listing .table-list td .status-wrap.approved span,
.popup-detail .status-wrap.onroute span,
.popup-detail .status-wrap.active span {
    color: #62B46B;
}
.table-main.table-list table td.description p {
    width: fit-content;
    float: left;
    margin-right: 5px;
}
.table-main.table-list table td.description a {
    line-height: 1em;
}
.hunts-content .data-info {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 20px;
}
.hunts-content .data-info .info-block {
    background-color: var(--white);
    border-radius: var(--border-radius-small);
    padding: 20px;
    box-shadow: var(--btn-shadow);
    width: 100%;
    margin-right: 20px;
    overflow: hidden;
}
.hunts-content .data-info .info-block:last-child {
    margin-right: 0px;
}
.hunts-content .data-info .info-block h2 {
    font-family: var(--fira-light);
}
.hunts-content .data-info .info-block.progress h2 {
    margin-bottom: 10px;
}
.hunts-content .data-info .info-block.progress {
    width: 50%;
}
.hunts-content .data-info .info-block.progress p {
    margin-top: 10px;
}
.hunts-content .data-info .info-block.progress .progress-bar {
    width: 100%;
    position: relative;
    border-radius: var(--border-radius-small);
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    padding: 7px 0px;
}
.hunts-content .data-info .info-block.progress .progress-bar  p {
    font-size: 16px;
    line-height: 1em;
    margin-top: 0;
}
.hunts-content .info-block.progress .progress-bar .percent {
    height: 30px;
    border-right: 1px solid #70707020;
    width: calc(100% / 4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.hunts-content .info-block.progress .progress-bar .percent:last-child {
    border-right: none;
}
.hunts-content .info-block.progress .progress-bar .percent.filled {
    border: 3px solid var(--black);
    height: 52px;
    margin-top: -10px;
    margin-left: -3px;
    border-radius: 10px 0px 0px 10px;
    margin-bottom: -10px;
}
.hunts-content .data-info .info-block.progress .progress-bar .fill-color {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% / 4 * 1.7);
    display: block;
    height: 100%;
    background-color: var(--green);
}
.hunts-content .data-info .info-block.available-balance {
    width: 25%;
}
.hunts-content .data-info .info-block.available-balance h1 {
    color: var(--green);
}
.hunts-content .data-info .info-block.economy {
    width: 25%;
}
.hunts-content .hunts-table .title-btn-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}
.hunts-content .hunts-table .title-btn-wrap h2 {
    margin-bottom: 0;
    line-height: 1em;
}
.hunts-content .hunts-table .title-btn-wrap .main-btn {
    width: 160px;
}
.content .pagination {
    padding: 20px 20px 100px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content  .pagination p {
    font-family: var(--fira-medium);
}
.content  .pagination .main-btn {
    width: 12%;
}
.content  .pagination .main-btn div {
    width: 7px;
}
.content .pagination .previous-btn div {
    background-image: url('../images/arrow-previous.svg');
    margin-right: 10px;
    margin-left: 0;
}
.content .pagination .next-btn {
    flex-direction: row-reverse;
}
.content .pagination .next-btn div {
    background-image: url('../images/arrow-next.svg');
    margin-left: 10px;
}
.footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer p {
    font-size: 12px;
}
.footer .mode-btn-wrap {
    display: flex;
    align-items: center;
}
.footer .mode-btn-wrap p {
    margin-right: 10px;
}
.popup-detail {
    position: relative;
    padding: var(--popup-detail-padding);
    width: var(--popup-detail);
    float: right;
    min-height: 100vh;
    border-radius: 5px 0px 0px 5px;
    background-color: var(--white);
}
.popup-detail .small-btn.close {
    position: absolute;
    right: 20px;
    top: 20px;
    background-image: url('../images/close-icon.svg');
    background-size: 18px 20px;
}
.popup-detail p {
    color: var(--black);
}
.popup-detail .small-btn.close:hover {
    background-image: url('../images/close-icon-white.svg');
}
.popup-detail .title-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
}
.popup-detail .title-wrap h1 {
    margin-right: 10px;
}
.popup-detail .title-wrap .date-time {
    display: flex;
    align-items: center;
}
.popup-detail .title-wrap .date-time .time {
    font-family: var(--fira-medium);
    margin-left: 10px;
}
.popup-detail .status-wrap {
    width: fit-content;
}
.popup-detail .details {
    max-width: 50%;
    margin-bottom: 30px;
}
.popup-detail .details p {
    font-family: var(--fira-medium);
}
.popup-detail .details span {
    color: var(--light-black);
}
.popup-detail .details .details-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.popup-detail .details .details-flex:last-child {
    margin-bottom: 0;
}
.popup-detail .popup-table {
    padding-bottom: 80px;
}
.popup-detail th {
    text-align: left;
}
.popup-detail th:last-child {
    text-align: right;
}
.popup-detail th p {
    font-family: var(--fira-medium);
    font-size: 16px;
}
.popup-detail td {
    border-bottom: 2px solid #D4D4D440;
    padding: 10px 0;
    max-width: 160px;
    margin-right: 20px;
}
.popup-detail td:last-child {
    text-align: right;
    margin-right: 0;
}
.popup-detail td.qtd p {
    font-size: 12px;
}
.popup-detail td .price {
    display: flex;
    align-items: center;
}
.popup-detail td .price span {
    width: fit-content;
    float: left;
    margin-right: 10px;
    text-decoration: line-through;
}
.popup-detail .see-all-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
}
.popup-detail .see-all-wrap p {
    margin-right: 10px;
}
.popup-detail .payment-detail {
    padding-top: 16px;
    border-top: 1px solid var(--med-grey);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 46px;
}
.popup-detail .payment-detail .discount-wrap {
    background-color: var(--bg-color);
    border-radius: var(--border-radius-small);
    display: flex;
    align-items: center;
}
.popup-detail .payment-detail .discount-wrap span {
    font-family: var(--fira-medium);
    font-size: 8px;
}
.popup-detail .payment-detail .discount-wrap p {
    font-size: 12px;
}
.popup-detail .payment-detail .discount-wrap .used-value {
    background-image: url('../images/ticket-black.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 125px;
    height: 43px;
}
.popup-detail .payment-detail .discount-wrap .used-value .value-wrap {
    padding: 5px 10px;
}
.popup-detail .payment-detail .discount-wrap .used-value span {
    color: var(--white);
    display: block;
}
.popup-detail .payment-detail .discount-wrap .used-value p {
    color: var(--white);
    margin-bottom: 5px;
}
.popup-detail .payment-detail .discount-wrap .current-discount {
    padding: 0px 10px;
}
.popup-detail .payment-detail .discount-wrap .current-discount p,
.popup-detail .payment-detail .discount-wrap .current-discount span {
    color: var(--black);
}
.popup-detail .payment-detail .total-wrap {
    width: 40%;
}
.popup-detail .payment-detail .total-wrap div {
    display: flex;
    align-items: center;
}
.popup-detail .payment-detail .total-wrap div span {
    margin-right: 10px;
    text-decoration: line-through;
}
.popup-detail .payment-detail .total-wrap p {
    font-size: 16px;
}
.popup-detail .payment-detail .total-wrap h3 {
   font-size: 16px; 
} 
.popup-detail .payment-detail .total-wrap .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.popup-detail .payment-detail .total-wrap .payment-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popup-detail.see-order .main-btn {
    float: right;
    width: 194px;
} 
.popup-detail .title {
    margin-bottom: 30px;
}
.popup-detail .title p {
    font-size: 16px;
}
.popup-detail .input-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup-detail .input-wrap,
.popup-detail .custom-select {
    margin-bottom: 30px;
}
.popup-detail .input-wrap.number {
    width: calc(30% - 10px);
}
.popup-detail .input-wrap.shop {
    width: calc(70% - 10px);
}
.popup-detail .input-wrap.double {
    width: calc(50% - 10px);
}
.popup-detail .custom-select.double {
    width: calc(50% - 10px);
}
.popup-detail .input-wrap.simple {
    width: 100%;
}
.popup-detail .input-wrap input,
.popup-detail .input-wrap textarea {
    padding: var(--input-padding-small)
}
.popup-detail.form .main-btn,
.popup-detail.user .main-btn {
    position: absolute;
    bottom: 120px;
    right: 80px;
    width: 170px;
}
ul.breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
}
ul.breadcrumb li {
    align-items: center;
    display: flex;
}
ul.breadcrumb li+li:before {
    content: "";
    background-image: url('../images/arrow-breadcrumb.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 5px;
    height: 10px;
    display: block;
    margin: 0 10px;
}
ul.breadcrumb li a {
    font-size: 16px;
}
ul.breadcrumb li p {
    color: var(--black);
}
.popup-detail .itens-table {
    min-height: 40vh;
    max-height: 40vh;
    overflow-y: auto;
}
.popup-detail table tr th {
    padding-bottom: 10px;
}
.popup-detail table tr:only-child th{
    border-bottom: 1px solid var(--med-grey);
}
.popup-detail.user.shop table td *,
.popup-detail.edit-order.itens table td * {
    float: left;
} 
.popup-detail.edit-order.itens table td:last-child p {
    float: right;
}
.popup-detail table tr td.arrive-date p {
    background-color: var(--med-grey-opacity);
    border-radius: var(--border-radius-small);
    font-size: 12px;
    padding: 1px 4px;
}
.popup-detail.edit-order.itens tr:last-child td {
    border: none;
}
.popup-detail .accordion {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid var(--med-grey);
}
.popup-detail.edit-order .accordion:last-child {
    border-bottom: none;
}
.popup-detail .accordion .acc-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.popup-detail .accordion.open .acc-wrap {
    padding-bottom: 20px;
}
.popup-detail .accordion .acc-wrap p {
    font-family: var(--fira-medium);
    font-size: 16px;
    display: inline-block;
}
.popup-detail .accordion .acc-wrap a {
    font-family: var(--fira-light);
    font-size: 12px;
    display: inline-block;
    margin-left: 5px;
}
.popup-detail .accordion .acc-wrap .open-acc {
    background-image: url('../images/open-acc.svg');
    background-size: contain;
    width: 18px;
    height: 10px;
}
.popup-detail .accordion.open .acc-wrap .open-acc {
    background-image: url('../images/acc-close.svg');
}
.popup-detail .accordion .acc-content {
    max-height: 0;
    overflow: hidden;
}
.popup-detail .accordion.open .acc-content {
    max-height: 100vh;
}
.popup-detail .accordion.open .acc-content .details {
    margin: 0;
}
.popup-detail .accordion.open .acc-content .itens-table {
    min-height: 25vh;
    max-height: 25vh;
    padding-bottom: 0;
}
.round-btn.delete {
    background-image: url('../images/delete.svg');
    background-color:#F4484830;
    width: 22px;
    height: 22px;
    background-size: 12px;
    margin-right: 10px;
}
.round-btn.delete:hover {
    background-image: url('../images/delete-white.svg');
    background-color: var(--black);
}
.round-btn.less {
    background-image: url('../images/less-icon.svg');
    margin-right: 10px;
    background-size: 8px 3px;
}
.round-btn.more {
    background-image: url('../images/add-icon.svg');
    margin-left: 10px;
    background-size: 10px 9px;
}
.popup-detail.edit-order .main-btn.checkout-order {
    position: absolute;
    bottom: 150px;
    right: 80px;
    width: 210px;
}
.popup-detail .main-link.save-sketch {
    position: absolute;
    bottom: 120px;
    right: 80px;
    width: 210px;
    text-align: right;
}
.popup-detail.edit-order.checkout .payment-detail{
    margin-bottom: 20px;
}
.custom-select {
    position: relative;
    display: inline-block;
    width: 50%;
}
.custom-select select {
    padding: 15px;
}
.popup-detail .send-files {
    position: relative;
    margin-top: 40px;
}
.popup-detail .send-files input[type="file"] {
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.popup-detail .send-files .send-files-custom {
    position: relative;
    width: 100%;
    height: 25vh;
    border: 1px solid var(--med-grey);
    border-radius: var(--border-radius-small);
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}
.popup-detail .send-files.loading .send-files-custom {
    background-color: var(--bg-color);
    border: 2px solid var(--grey);
}
.popup-detail .send-files .send-files-custom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 5px;
    border-radius: 5px 5px 0px 0px;
}
.popup-detail .send-files.loading .send-files-custom::before {
    background-color: var(--green);
    width: 40%;
}
.popup-detail .send-files.failed .send-files-custom::before {
    background-color: var(--red);
    width: 100%;
}
.popup-detail .send-files.success .send-files-custom::before {
    background-color: var(--green);
    width: 100%;    
}
.popup-detail .send-files.failed .send-files-custom {
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color);
}
.popup-detail .send-files.success .send-files-custom {
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color);
}
.popup-detail .send-files .send-files-custom .icon-upload {
    width: 68px;
    height: 68px;
    display: block;
    background-image: url('../images/upload-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}
.popup-detail .send-files.failed .send-files-custom .icon-upload {
    background-image: url('../images/upload-icon-red.svg');
}
.popup-detail .send-files.success .send-files-custom .icon-upload {
    background-image: url('../images/upload-icon-green.svg');
}
.popup-detail .send-files .send-files-custom p {
    max-width: 60%;
    text-align: center;
}
.popup-detail.note .itens-table {
    min-height: 30vh;
    max-height: 30vh;
    padding-bottom: 0;
}
.popup-detail.note .itens-table th {
    border: none;
}
.popup-detail.note .itens-table tr:last-child td{
    border-bottom: none;
}
.popup-detail.note .itens-table td div {
    display: flex;
    align-items: center;
}
.popup-detail.note .itens-table span{
    margin-right: 5px;
    text-decoration: line-through;
}
.popup-detail.upload-nota .payment-detail {
    justify-content: flex-end;
}
.popup-detail.note .payment-detail .total-wrap {
    width: 37%;
}
.popup-detail.note .tooltip-text-wrapper .tooltip {
    margin-top: 0;
}
.popup-detail .button-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 120px;
    right: 80px;
    left: 80px;
}
.popup-detail .button-wrap .learn-calc {
    display: flex;
    align-items: center;
}
.popup-detail .button-wrap .learn-calc div {
    background-image: url('../images/tooltip-icon.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.popup-detail .button-wrap .learn-calc:hover div {
    background-image: url('../images/tooltip-black.svg');
}
.popup-detail .button-wrap .main-btn {
    width: 202px;
}
.popup-detail.see-note .payment-detail {
    border: none;
}
.popup-detail.see-note .itens-table {
    min-height: 30vh;
    max-height: 60vh;
}
.popup-detail.see-note .payment-detail .total-wrap .total {
    align-items: center;
    margin-bottom: 0;
}
.popup-detail.see-note .payment-detail {
    align-items: center;
}
.popup-detail.see-note .payment-detail {
    padding-top: 20px;
}
.popup-detail.see-note .margin-btn-wrap {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}
.popup-detail.see-note .margin-btn-wrap .small-btn {
    background-image: url('../images/arrow-previous.svg');
    background-size: 10px 18px;
    margin-right: 10px;
}
.popup-detail.see-note .margin-btn-wrap .small-btn:hover {
    background-image: url('../images/arrow-previous-white.svg');
}
.popup-open-margin .popup-detail.see-note .margin-btn-wrap .small-btn {
    background-image: url('../images/arrow-next.svg');
}
.popup-open-margin .popup-detail.see-note .margin-btn-wrap .small-btn:hover {
    background-image: url('../images/arrow-next-white.svg');
}
.popup-detail.calc {
    width: var(--popup-calc);
    float: left;
}
.popup-detail.calc .title-wrap {
    display: block;
    margin-bottom: 40px;
}
.popup-detail.calc .title-wrap h1 {
    margin-right: 0;
    margin-bottom: 10px;
}
.popup-detail.calc .title-wrap p {
    font-size: 18px;
}
.popup-detail.calc p {
    font-size: 16px;
}
.popup-detail.calc .calc-list .calc-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;
}
.popup-detail.calc .calc-list .calc-item:last-child {
    margin-bottom: 0;
}
.popup-detail.calc .calc-list .calc-item  h2 {
    margin-right: 20px;
}
.dash-content  .balance-discount.admin {
    display: grid;
    gap: 40px 20px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
    margin-top: 24px;
}
.dash-content .balance-discount.admin .bd-block {
    width: 100%;
    margin-bottom: 0;
    border-bottom: 2px solid #58585840;
}
.dash-content .balance-discount.admin .bd-block.pending {
    border-color: #FECD0040;
}
.dash-content .balance-discount.admin .bd-block.approved {
    border-color: #5AD86640;
}
.dash-content .balance-discount.admin .bd-block.recused {
    border-color: #F4484840;
}
.dash-content .balance-discount.admin .bd-block .status-bd {
    display: flex;
    align-items: center;
}
.dash-content .balance-discount.admin .bd-block .status-bd div {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 1px solid var(--grey);
}
.dash-content .balance-discount.admin .bd-block.pending .status-bd div {
    background-image: url('../images/less-yellow.svg');
    border-color: var(--yellow);
}
.dash-content .balance-discount.admin .bd-block.approved .status-bd div {
    background-image: url('../images/check-green.svg');
    border-color: var(--green);
}
.dash-content .balance-discount.admin .bd-block.recused .status-bd div {
    background-image: url('../images/x-red.svg');
    border-color: var(--red);
}
.dash-content .balance-discount.admin .bd-block.pending .status-bd p {
    color: var(--yellow);
}
.dash-content .balance-discount.admin .bd-block.approved .status-bd p {
    color: var(--green);
}
.dash-content .balance-discount.admin .bd-block.recused .status-bd p {
    color: var(--red);
}
.dashboard.admin .dash-hunts .buttons-wrap {
    justify-content: flex-end;
}
.popup-detail.approve-hunt .title-wrap {
    margin-bottom: 50px;
}
.popup-detail .title-wrap .name-status {
    display: flex;
    align-items: center;
}
.popup-detail .title-wrap .used-promo {
    background-color: #D4D4D430;
    padding: 10px 12px;
    border-radius: var(--border-radius-small);
    width: 15%;
}
.popup-detail .title-wrap .used-promo p {
    font-size: 12px;
    font-family: var(--fira-regular);
    margin-bottom: 5px;
}
.popup-detail .title-wrap .used-promo span {
    font-family: var(--fira-regular);
    font-size: 8px;
    display: block;
}
.popup-detail.approve-hunt .balance-discount .bd-block {
    margin-bottom: 50px;
}
.popup-detail.approve-hunt .bd-block {
    width: calc(100% / 3 - 12px);
}
.popup-detail.approve-hunt .extract-table .table-title {
    font-size: 16px;
    font-family: var(--fira-medium);
    margin-bottom: 30px;
}
.popup-detail.approve-hunt table tr:only-child th {
    border-bottom: none;
    position: relative;
}
.popup-detail.approve-hunt table th p {
    font-size: var(--text-p);
    font-family: var(--fira-light);
    width: fit-content;
    float: left;
    line-height: 1em;
    margin-right: 5px;
}
.popup-detail.approve-hunt table tr a {
    display: inline-block;
}
.popup-detail table .main-btn {
    padding: 12px 20px;
    font-size: 12px;
}
.popup-detail table tr.lost .main-btn {
    display: none;
}
.popup-detail.approve-hunt table td {
    height: 58px;
}
.popup-detail.approve-hunt table td p {
    font-size: 12px;
}
.popup-detail.approve-hunt table tr.added td:first-of-type p {
    color: var(--green);
}
.popup-detail.approve-hunt table tr.lost td:first-of-type p {
    color: var(--red);
}
.popup-detail.approve-hunt .popup-table {
    padding-bottom: 0;
}
.table-list td.link-over a {
    margin-bottom: 5px;
}
.popup-detail {
    overflow: hidden;
}
.popup-detail.see-note .button-wrap  {
    height: 42px;
}
.popup-detail .margin-popup {
    position: absolute;
    background-color: var(--light-grey);
    border-radius: 5px 0px 0px 5px;
    top: 0;
    bottom: 0;
    right: -60%;
    min-height: 100vh;
    width: 60%;
    overflow: hidden;
    padding: var(--popup-detail-padding);
    padding-left: 40px;
}
.popup-open-margin .popup-detail .margin-popup {
    right: 0;    
}
.popup-open-margin .popup-detail .margin-btn-wrap {
    position: absolute;
    right: 43%;
}
.popup-detail .margin-popup .itens-table {
    padding-top: 84px;
}
.popup-detail .margin-popup .itens-table td p {
    font-family: var(--fira-medium);
}
.popup-detail .margin-popup .itens-table td span {
    font-size: 14px;
    text-decoration: none;
    color: var(--black);
    margin-left: 5px;
    margin-right: 0;
}
.popup-detail .margin-popup .itens-table td:last-child div {
    justify-content: flex-end;
}
.popup-detail.see-note .margin-popup .payment-detail {
    justify-content: flex-end;
    height: 63px;
}
.popup-detail.see-note .margin-popup .payment-detail .total-wrap {
    width: 55%;
}
.popup-detail.user.form .custom-select {
    width: calc(50% - 10px);
}
.popup-detail.user .main-btn.confirm-edit {
    bottom: 150px;
}
.popup-detail.user.data .main-btn.confirm-edit {
    bottom: 120px;
}
.popup-detail.user.shop .main-link.add-shop {
    position: absolute;
    right: 0;
    bottom: -25px;
}
.popup-detail.user.shop th:last-child {
    text-align: start;
}
.popup-detail.user .payment-detail {
    margin-bottom: 0;
    position: absolute;
    bottom: 155px;
    border: 0;
    padding-top: 0;
}
.popup-detail.view .details {
    max-width: 70%;
}
.popup-detail.user.summary .details.shop-details {
    max-width: 100%;
}
.popup-detail .details.shop-details td:last-child,
.popup-detail .details.shop-details th:last-child{
    text-align: start;
}
.popup-detail .details.shop-details tr:last-child td {
    border-bottom: none;
}
.popup-detail.summary .title-wrap {
    margin-bottom: 0px;
}
.popup-detail.user.view .details.shop-details tr:last-child td {
    border-bottom: 2px solid #D4D4D440; 
}
.popup-detail.user.view .main-btn,
.popup-detail.promo.form .main-btn {
    position: initial;
    width: 170px;
}
.popup-detail .main-link.tooltip {
    width: fit-content;
    height: fit-content;
    background-image: none;
}
.popup-detail .main-btn.tooltip,
.popup-detail .main-btn.tooltip:hover {
    background-image: none;
    height: fit-content;
}
.popup-detail.user.view .tooltip:hover {
    background-image: none;
}
.popup-detail .main-link.tooltip .tooltip-text,
.popup-detail .main-btn.tooltip .tooltip-text {
    top: 50%;
    transform: translateY(-50%);
}
.popup-detail .main-link.tooltip.right .tooltip-text,
.popup-detail .main-btn.tooltip.right .tooltip-text {
    left: calc(100% + 20px);
}
.popup-detail .main-link.tooltip.left .tooltip-text,
.popup-detail .main-btn.tooltip.left .tooltip-text {
    right: calc(100% + 20px);
}   
.popup-detail .main-link.tooltip .arrow,
.popup-detail .main-btn.tooltip .arrow {
    top: calc(50% - 9px);
}
.popup-detail .fake-input {
    padding: var(--input-padding-small);
    font-size: var(--input);
    background-color: transparent;
    border-radius: var(--border-radius-small);
    display: block;
    color: var(--light-black);
    border: 1px solid var(--med-grey);
    width: 100%;
    outline: none;
    font-family: var(--fira-light);
    cursor: pointer;
}
.fake-label {
    font-size: var(--label);
    line-height: 1em;
    display: block;
    font-family: var(--fira-medium);
    margin-bottom: 10px;
}
.fake-input .placeholder.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fake-input .placeholder p {
    color: var(--grey);
}
.fake-input.accordion {
    overflow: hidden;
    overflow-y: auto;
    max-height: 30vh;
}
.popup-detail .select-items-wrap {
    padding-top: 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.popup-detail .select-items .accordion.open .select-items-wrap {
    padding-top: 20px;
}
.tag {
    background-color: var(--med-grey);
    border: 1px solid var(--med-grey);
    border-radius: var(--border-radius-small);
    padding: 10px;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
}
.tag.item {
    background-color: transparent;
    border: 1px solid #707070;
}
.tag.selected {
    background-color: var(--med-grey);
    border-color: var(--med-grey);
}
.tag.item:hover {
    background-color: var(--black);
    border-color: var(--black);
}
.tag span {
    color: var(--black);
    display: inline-block;
    font-family: var(--fira-regular);
}
.tag.item:hover span {
    color: var(--white);
}
.tag div {
    background-image: url('../images/add-tag.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 9px;
    height: 9px;
    margin-left: 10px;
    cursor: pointer;
}
.tag.item:hover div {
    background-image: url('../images/add-tag-white.svg');
}
.tag.selected div {
    background-image: url('../images/x-tag.svg');
}
.tag.selected:hover div {
    background-image: url('../images/x-tag-white.svg');
}
.popup-detail.view .details.members-details {
    max-width: 100%;
}
.popup-detail.view .details.members-details .tag span {
    color: var(--black);
}
.popup-detail.view .details .select-items-wrap {
    margin-top: 16px;
}
:root body.dark-mode {
    --white: #2C2C2C;
    --dm-grey: #D4D4D4;
    --med-grey: #4E4E4E;
    --dm-dark-grey:#585858;
    --black: #FFFFFF;
    --dm-black: #333333;
    --bg-color: #212121;
    --light-black: #FFFFFF;
}
body.dark-mode input, 
body.dark-mode textarea, 
body.dark-mode select {
    border-color: var(--grey);
}
body.dark-mode input:focus,
body.dark-mode textarea:focus, 
body.dark-mode select:focus {
    border-color: var(--dm-grey);
}
body.dark-mode option {
    color: var(--white);
}
body.dark-mode {
    background-color: var(--bg-color);
}
body.dark-mode .popup .logo div {
    background-image: url('../images/logo-white.svg');
}
body.dark-mode .input-wrap .eye-pass {
    background-image: url('../images/eye-pass-open-white.svg');
}
body.dark-mode .input-wrap .eye-pass.show {
    background-image: url('../images/eye-pass-closed-white.svg');
}
body.dark-mode .side-menu .logo div {
    background-image: url('../images/logo-white.svg');
}
body.dark-mode .popup .form-password .pass-strength .pass-status div {
    background-image: url('../images/check-pass-white.svg');
}
body.dark-mode .popup .form-password .pass-strength .pass-status.checked div {
    background-image: url('../images/check-pass-green.svg');
}
body.dark-mode .main-btn,
body.dark-mode .main-btn p {
    color: var(--dm-black);
}
body.dark-mode .search .main-btn:hover div, 
body.dark-mode .content .main-btn.upload-note:hover div {
    background-image: url('../images/icon-more.svg');
}
body.dark-mode .main-btn.grey-btn,
body.dark-mode .main-btn.grey-btn p {
    color: var(--black);
}
body.dark-mode .main-btn.grey-btn:hover{
    background-color: var(--bg-color);
}
body.dark-mode .small-btn {
    background-color: var(--bg-color);
}
body.dark-mode .small-btn:hover {
   background-color: var(--black);
}
body.dark-mode .admin .user-header .new-promo .main-btn p {
    color: var(--black);
}
body.dark-mode .admin .user-header .new-promo .main-btn:hover {
    background-color: var(--black);
}
body.dark-mode .admin .user-header .new-promo .main-btn:hover p {
    color: var(--white);
}
body.dark-mode .admin .user-header .new-promo .main-btn div {
    background-image: url('../images/icon-more-white.svg');
}
body.dark-mode .admin .user-header .new-promo .main-btn:hover div {
    background-image: url('../images/icon-more.svg');
}
body.dark-mode .notifications .message p {
    color: var(--dm-black);
}
body.dark-mode .tooltip {
    background-image: url('../images/tooltip-white.svg');
}
body.dark-mode .tooltip:hover {
    background-image: url('../images/tooltip-hover-white.svg');
}
body.dark-mode .side-menu .nav-menu li a p {
    color: var(--dm-grey);
    opacity: 40%;
}
body.dark-mode .side-menu .nav-menu li.active a p {
    color: var(--dm-black);
    opacity: 100%;
}
body.dark-mode .side-menu .nav-menu li:hover a p, 
body.dark-mode .side-menu .nav-menu li.active:hover a p {
    color: var(--dm-black);
    opacity: 100%;
}
body.dark-mode .side-menu .nav-menu li.dash a div {
    background-image: url('../images/dash-icon-grey.svg');
}
body.dark-mode .side-menu .nav-menu li.orders a div {
    background-image: url('../images/orders-icon-grey.svg');
}
body.dark-mode .side-menu .nav-menu li.caçadas a div {
    background-image: url('../images/hunts-icon-grey.svg');
}
body.dark-mode .side-menu .nav-menu li.active.dash a div {
    background-image: url('../images/icon-dash-black.svg');
}
body.dark-mode .side-menu .nav-menu li.active.orders a div {
    background-image: url('../images/icon-orders-black.svg');
}
body.dark-mode .side-menu .nav-menu li.active.caçadas a div {
    background-image: url('../images/icon-hunts-black.svg');
}
body.dark-mode .side-menu .nav-menu li.promos a div {
    background-image: url('../images/promos-grey.svg'); 
}
body.dark-mode .side-menu .nav-menu li.active.promos a div {
    background-image: url('../images/promos-black.svg'); 
}
body.dark-mode .side-menu .nav-menu li.active.promos:hover a div,
body.dark-mode .side-menu .nav-menu li.promos:hover a div {
    background-image: url('../images/promos-black.svg'); 
}   
body.dark-mode .side-menu .nav-menu li.active.dash:hover a div,
body.dark-mode .side-menu .nav-menu li.dash:hover a div {
    background-image: url('../images/icon-dash-black.svg');
}
body.dark-mode .side-menu .nav-menu li.active.orders:hover a div,
body.dark-mode .side-menu .nav-menu li.orders:hover a div {
    background-image: url('../images/icon-orders-black.svg');
}
body.dark-mode .side-menu .nav-menu li.active.caçadas:hover a div,
body.dark-mode .side-menu .nav-menu li.caçadas:hover a div {
    background-image: url('../images/icon-hunts-black.svg');
}
body.dark-mode .side-menu .hide-menu .small-btn {
    background-image: url('../images/arrow-hide-white.svg');
}
body.dark-mode .side-menu .hide-menu .small-btn:hover {
    background-image: url('../images/arrow-close.svg');
}
body.dark-mode.menu-closed .side-menu .hide-menu .small-btn {
    background-image: url('../images/arrow-open-white.svg');
}
body.dark-mode.menu-closed .side-menu .hide-menu .small-btn:hover {
    background-image: url('../images/arrow-open.svg');
}
body.dark-mode.menu-closed .side-menu .logo div {
    background-image: url('../images/logo-small-white.svg');
}
body.dark-mode .user-header .user a {
    background-image: url('../images/user-icon-white.svg');
}
body.dark-mode .user-header .user a:hover {
    background-image: url('../images/user-icon.svg');
}
body.dark-mode .user-header .logout a div {
    background-image: url('../images/logout-icon-white.svg');
}
body.dark-mode .user-header .logout:hover a div {
    background-image: url('../images/logout-icon.svg');
}
body.dark-mode .dark-mode .switch-btn span {
    background-color: var(--white);
} 
body.dark-mode .switch-btn span::before {
    background-color: var(--black);
}
body.dark-mode .hide-menu p {
    color: var(--black);
}
body.dark-mode table th .sort-wrap button.latest {
    background-image: url('../images/arrow-sort-down-white.svg');
}
body.dark-mode table th .sort-wrap button.recent {
    background-image: url('../images/arrow-sort-up-white.svg');
}
body.dark-mode .pagination .next-btn div {
    background-image: url('../images/arrow-next-white.svg');
}
body.dark-mode .pagination .previous-btn div {
    background-image: url('../images/arrow-previous-white.svg');
}
body.dark-mode .main-btn.previous-btn:hover,
body.dark-mode .main-btn.next-btn:hover {
    background-color: var(--black);
}
body.dark-mode .main-btn.previous-btn:hover p, 
body.dark-mode .main-btn.next-btn:hover p {
    color: var(--white);
}
body.dark-mode .pagination .next-btn:hover div {
    background-image: url('../images/arrow-next.svg');
}
body.dark-mode .pagination .previous-btn:hover div {
    background-image: url('../images/arrow-previous.svg');
}
body.dark-mode .table-main.table-list td .status-wrap.finished,
body.dark-mode .table-main.table-list td .status-wrap.blocked,
.popup-detail .status-wrap.blocked {
    background-color: var(--bg-color);
}
body.dark-mode .content table td .finished .status,
body.dark-mode .content table td .blocked .status,
.popup-detail .status-wrap.blocked .status {
    background-color: var(--white);
}
body.dark-mode .dashboard .content table td .finished .status,
body.dark-mode .dashboard .content table td .blocked .status
.popup-detail .status-wrap.blocked .status  {
    background-color: var(--bg-color);
}
body.dark-mode .table-main.table-list td .status-wrap.finished span,
body.dark-mode .table-main.table-list td .status-wrap.blocked span,
.popup-detail .status-wrap.blocked span {
    color: var(--grey);
}
body.dark-mode .table-main.table-list td .status-wrap.sketch,
body.dark-mode .table-main.table-list td .status-wrap.inactive,
.popup-detail .status-wrap.inactive {
    background-color: #707070;
}
body.dark-mode .content table td .sketch .status,
body.dark-mode .content table td .inactive .status,
.popup-detail .status-wrap.inactive .status {
    background-color: var(--light-grey);
}
body.dark-mode .table-main.table-list td .status-wrap.sketch span,
body.dark-mode .table-main.table-list td .status-wrap.inactive span,
.popup-detail .status-wrap.inactive span {
    color: var(--light-grey);
}
body.dark-mode .search .search-input input {
    background-image: url('../images/search-icon-white.svg');
}
body.dark-mode .hunts-content .info-block.progress .progress-bar .percent.filled {
    border-color: var(--green);
}
body.dark-mode .popup-detail .small-btn.close {
    background-image: url('../images/close-icon-white.svg');
}
body.dark-mode .popup-detail .small-btn.close:hover {
    background-image: url('../images/close-icon.svg');
}
body.dark-mode .popup-detail .payment-detail .discount-wrap .used-value {
    background-image: url('../images/ticket-grey.svg');
}
body.dark-mode .popup-detail .margin-popup {
    background-color: var(--dm-dark-grey);
}
body.dark-mode.popup-open-margin .popup-detail .small-btn.margin-btn {
    background-color: var(--dm-dark-grey);
}
body.dark-mode .popup-detail .button-wrap .learn-calc div {
    background-image: url('../images/tooltip-white.svg');
}
body.dark-mode .popup-detail .button-wrap .learn-calc:hover div {
    background-image: url('../images/tooltip-hover-white.svg');
}
body.dark-mode .admin .user-header .current-promo .extra-promo {
    background-image: url('../images/ticket-grey.svg');
}
body.dark-mode .popup-detail.see-note .margin-btn-wrap .small-btn {
    background-image: url('../images/arrow-previous-white.svg');
}
body.dark-mode .popup-detail.see-note .margin-btn-wrap .small-btn:hover {
    background-image: url('../images/arrow-close.svg');
}
body.dark-mode.popup-open-margin .popup-detail.see-note .margin-btn-wrap .small-btn {
    background-image: url('../images/arrow-open-white.svg');
}
body.dark-mode.popup-open-margin .popup-detail.see-note .margin-btn-wrap .small-btn:hover {
    background-image: url('../images/arrow-open.svg');
}
body.dark-mode ul.breadcrumb li+li:before {
    background-image: url('../images/arrow-breadcrumb-white.svg');
}
body.dark-mode .tag div {
    background-image: url('../images/add-tag-white.svg');
}
body.dark-mode .tag.selected div {
    background-image: url('../images/x-tag-white.svg');
}
body.dark-mode .tag:hover div {
    background-image: url('../images/add-tag-black.svg');
}
body.dark-mode .tag.selected:hover div {
    background-image: url('../images/x-tag-black.svg');
}
body.dark-mode .fake-input {
    border-color: var(--grey);
}
@media screen and (max-width: 600px) {
:root {
    --popup-padding: 30px 30px 150px 30px;
    --popup: 100%;
    --notification: 100%;
}
.notifications .message p {
    font-size: 12px;
}
.popup {
    border-radius: 0;
}
}
@media screen and (max-width: 300px) {
:root {
    --title-h1: 20px;
    --text-p: 12px;
    --label: 12px;
    --input-padding: 15px 12px;
    --input: 10px;
    --main-btn: 12px;
    --main-btn-padding: 15px;
    --link: 10px;
}
.notifications .notifications-wrap .message {
    padding: 15px;
}
.popup .title-wrap {
    margin-top: 40px;
    margin-bottom: 30px;
}
.popup .title-wrap h1 {
    margin-bottom: 10px;
}
.input-wrap .eye-pass {
    width: 15px;
    height: 10px;
}
.input-wrap.pass-first .eye-pass {
    top: 31%;
}
.input-wrap.pass-first .eye-pass.show {
    top: 29%;
}
.input-wrap .eye-pass.show {
    width: 18px;
    height: 12px;
    top: calc(50% + 5px);
}
.popup .input-wrap {
    margin-bottom: 20px;
}
.popup .form-password .pass-strength .pass-status p {
    font-size: 10px;
}
.popup .form-password {
    margin-bottom: 20px;
}
.popup .remember-login p {
    color: var(--black);
    padding-left: 25px;
    font-size: 10px;
}
.popup .remember-login input {
    top: -2px;
    width: 16px;
    height: 16px;
}
}