:root {
    --yellow: #F9C80E;
    --light: white;
}
div.div-test {
    width: 100%;
    display:block;
    background-color:var(--yellow);
    padding:300px;
}
@media (prefers-color-scheme: dark) {
    :root {
        --yellow: #ec0b0b;
        --light: #000;
    }
}